{:deps     {:aliases [:dev]}
 :nrepl    {:port 9001}
 :builds   {:main {:target     :browser
                   :output-dir "resources/public/js/main"
                   :asset-path "/js/main"
                   :modules    {:main {:init-fn rad-class.client/init}}
                   :devtools   {:preloads   [com.fulcrologic.fulcro.inspect.preload
                                             com.fulcrologic.fulcro.inspect.dom-picker-preload]
                                :after-load rad-class.client/refresh}}}}
